<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Dason.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="#!" class="text-decoration-underline">𝓗𝓲𝓵𝓵𝓼𝓲𝓭𝓮 𝓕𝓻𝓾𝓲𝓽𝓼</a>
                </div>
            </div>
        </div>
    </div>
</footer>